---
title: Home
layout: 'base.njk'
---
<h1>{{ title }}</h1>
<section>
    <h2>Give Advice, Get Advice, Anadvi!</h2>
    <p>
        Anadavi is a platform currently being developed that will allow you to anonymously ask for and give advice.
        If you are interested in following our development, signup with your E-mail below.
    </p>
    <button>Sign Up</button>
</section>
<section>
    <div>
        <h3>Get Advice</h3>
        <p>
         We are building a platform that you can come to any time you need advice on any number of topics. 
         Not many other platforms provide good environments that are conducive to receiving good advice. 
         Most people who turn to the internet for advice often can’t receive the needed advice offline. 
         Providing a platform will help them get the advice that the are looking for and the help that they need.
        </p>
    </div>
    <div>
        <h3>Give Advice</h3>
        <p>
            Good advice comes from people who already have experience in dealing with the topics that are being asked about.
            The internet is the perfect place to accumulate all of that experience and put it on a platform.
            Our goal is to build that platform where people with experience can come and help others seeking advice.
        </p>
    </div>
    <div>
        <h3>Anonymously</h3>
        <p>
            We are pursuing an anonymous platform because we have notice that people are more forthcoming about the advice they 
            are looking for if their accounts are not associated with them personally. 
            Sometimes people need advice on issues that can be very embarrassing. 
            Staying anonymous allows for the person asking for advice to provide more context,
             which would allow them to get the help they need.
        </p>
    </div>

</section>
<section>
    <h2>Blog</h2>
    
</section>